<div class="container">
    <h2>Welcome to Our Website</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus velit non risus
      lacinia, eget eleifend erat hendrerit. Proin scelerisque, mi a tincidunt iaculis, odio
      justo malesuada sapien.
    </p>
  
    <p>
      Mauris ac lectus nec purus lacinia suscipit. Aenean et libero vel massa scelerisque
      egestas. Nulla facilisi. Nullam vehicula neque eu consectetur. Sed varius nec quam a
      dapibus.
    </p>
  
    <p>
      Donec id lorem nec libero pellentesque tristique. Vivamus laoreet et leo ut auctor.
      Integer scelerisque tincidunt odio, at pellentesque urna commodo nec.
    </p>
  </div>
  